<section class="about-feature js-reveal-block">
    <div class="about-feature__content">
        <h3 class="about-feature__heading">
            Индивидуализация
        </h3>
        <div class="about-feature__row">
            <div class="about-feature__left-col">
                <div class="about-feature__large-text">
                    Изделия CARIN CASA рождаются из уникального выбора наших клиентов. Дизайн изделий
                    CARIN CASA сочетается с индивидуальностью наших покупателей.
                </div>
            </div>
            <div class="about-feature__right-col">
                <img src="/images/about-feature/2.webp" alt="" class="about-feature__image">
                <div class="about-feature__small-text">
                    Наши продукты могут рассказать людям о вас, вашей личности, предпочтениях и жизненном отношении.
                    Изделия, созданные по индивидуальному заказу, — уникальны, и они принадлежат исключительно вам.
                    Каждый продукт CARIN CASA в вашем доме создает связь с душевной вибрацией его жителей.
                </div>
            </div>
        </div>
    </div>
</section>