<section class="about-intro">
    <section class="about-intro__content">
        <div class="about-intro__left-col">
            <h2 class="about-intro__heading">
                Всё начинается<br>
                с любви
            </h2>
            <div class="about-intro__text">
                est 2007
            </div>
        </div>
        <div class="about-intro__right-col">
            <h3 class="about-intro__secondary-heading">
                СARIN CASA
            </h3>
            <div class="about-intro__secondary-text">
                <p>
                    Cовременный бренд мебели, созданный в любви к своему делу и призванию. Мы соединяем воедино
                    столярное искусство со столетними традициями и смелость современных материалов, таких как керамика и
                    металл. В нашей работе рождаются уникальные предметы интерьера ручной работы.
                </p>
            </div>
        </div>
    </section>
</section>