<section class="about-info js-reveal-block">
    <div class="about-info__content">
        <div class="about-info__header about-info__header--reversed">
            <div class="about-info__header-text">
                Стремление к совершенству — наш главный мотиватор. Качество — наша религия.
            </div>
            <h2 class="about-info__header-title">
                Качество
            </h2>
        </div>
        <div class="about-info__row">
            <div class="about-info__image-wrapper">
                <img src="/images/about-info/2.webp" alt="" class="about-info__image">
            </div>
            <div class="about-info__text-content">
                <p>
                    Исключительное качество изделий позволяет нам сохранять преимущество перед конкурентами и предлагать
                    своим клиентам не просто предметы интерьера, а элегантные атрибуты красивой жизни.
                </p>
                <p>
                    Но секрет качества — не в использовании современных технологий или высокотехнологичного
                    оборудования. И даже не в том, что мы с пристрастием выбираем лучшие материалы среди сотен возможных
                    вариантов. Секрет качества — в нашем отношении к своему делу.
                    Мастера CARIN CASA творят, как истинные художники, и при этом внимательны к каждой детали.
                </p>
                <p>
                    Они болеют за безупречное исполнение всех элементов, талантом своих рук дополняя и одушевляя продукт
                    современных технологических решений.
                </p>
            </div>
        </div>
    </div>
</section>