<section class="about-feature js-reveal-block">
    <div class="about-feature__content">
        <h3 class="about-feature__heading">
            миссия
        </h3>
        <div class="about-feature__row">
            <div class="about-feature__left-col">
                <div class="about-feature__large-text">
                    Мы вносим индивидуальность в каждое изделие для того, чтобы оно создавало атмосферу вашего дома.
                </div>
            </div>
            <div class="about-feature__right-col">
                <img src="/images/about-feature/1.webp" alt="" class="about-feature__image">
                <div class="about-feature__small-text">
                    Каждый проект уникален и имеет свои особенности, различия стиля и культуры. CARIN CASA создает
                    безошибочно современные и функциональные продукты, которые адаптируются к изысканному стилю любого
                    интерьера. CARIN CASA производит премиальные продукты, которые дарят эмоции своим владельцам,
                    создавая при этом концепцию изысканного образа жизни.
                </div>
            </div>
        </div>
    </div>
</section>