<div class="about-partners js-reveal-block">
    <div class="about-partners__content">
        <ul class="about-partners__list">
            <li class="about-partners__list-item">
                <div class="about-partners__card">
                    <img src="/images/about-partners/3.svg" alt="" class="about-partners__card-image">
                    <h3 class="about-partners__card-title">
                        Собственный столярный цех и цех металлообработки - никаких посредников
                    </h3>
                </div>
            </li>
            <li class="about-partners__list-item">
                <div class="about-partners__card">
                    <img src="/images/about-partners/4.svg" alt="" class="about-partners__card-image">
                    <h3 class="about-partners__card-title">
                        Собственный отдел упаковки - наши изделия надежно защищены в МДФ-короба
                    </h3>
                </div>
            </li>
            <li class="about-partners__list-item">
                <div class="about-partners__card">
                    <img src="/images/about-partners/5.svg" alt="" class="about-partners__card-image">
                    <h3 class="about-partners__card-title">
                        Команда из 30 лучших специалистов - кандидаты технических наук и самые талантливые сотрудники по
                        дерево- и металлообработке
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</div>