<section class="standard-header">
    <div class="standard-header__parallax">
        <div class="standard-header__bg">

            <picture>
                <source srcset="/images/contacts-mobile-bg.webp" media="(max-width: 640px)" />
                <img src="/images/contacts-video-preview.webp" alt="" class="standard-header__bg-image" />
            </picture>
            <video src="/video/contacts.mp4" muted="" loop="" playsinline="" preload="none"
                class="standard-header__bg-video"></video>
        </div>
        <div class="standard-header__content">
            <div class="standard-header__text-content">
                <div class="standard-header__small-text">
                    Мир Carin Casa
                </div>
                <h1 class="standard-header__main-heading">
                    О компании
                </h1>
            </div>
        </div>
    </div>
</section>