<section class="about-info about-info--production js-reveal-block">
    <div class="about-info__content">
        <div class="about-info__header">
            <div class="about-info__header-text">
                Производство находится в Казани, структура производства начинается с моделирования изделий и включает
                в себя полный производственный цикл: конструкторский отдел, столярный и металлические цеха, сборочный
                цех и отдел упаковки
            </div>
            <h2 class="about-info__header-title">
                Наше производство
            </h2>
        </div>
        <div class="about-info__row">
            <div class="about-info__image-wrapper">
                <img src="/images/production.webp" alt="" class="about-info__image">
            </div>
            <div class="about-info__text-content">
                <p>
                    Каждый день в компании трудятся более 40 человек из разных сфер деятельности: конструкторы, опытные
                    столяры, кузнецы и мастера по керамике. Важнейшую часть работы выполняет отдел технического
                    контроля. Специалисты ОТК выпускают после проверки только идеально изготовленные изделия, которые
                    прослужат нашим клиентам много лет.
                </p>
                <p>
                    Большое значение уделяется ремесленным методам – это кропотливый ручной труд над каждым изделием, а
                    не серийное промышленное производство. Мебель CARIN CASA создаётся с любовью к каждому клиенту и к
                    каждому изделию.
                </p>
            </div>
        </div>
    </div>
</section>