<section class="about-images js-reveal-block">
    <div class="about-images__content">
        <ul class="about-images__list">
            <li class="about-images__list-item about-images__list-item--wide">
                <figure class="about-images__figure">
                    <div class="about-images__image-wrapper">
                        <img src="/images/about-images/5.webp" alt="" class="about-images__image">
                    </div>

                </figure>
            </li>
            <li class="about-images__list-item">
                <figure class="about-images__figure">
                    <div class="about-images__image-wrapper">
                        <img src="/images/about-images/6.webp" alt="" class="about-images__image">
                    </div>

                </figure>
            </li>
        </ul>
    </div>
</section>