<div class="about-partners">
    <div class="about-partners__content">
        <ul class="about-partners__list">
            <li class="about-partners__list-item">
                <div class="about-partners__card">
                    <img src="/images/about-partners/1.svg" alt="" class="about-partners__card-image">
                    <h3 class="about-partners__card-title">
                        Участник программы «Квартирный вопрос» на НТВ
                    </h3>
                </div>
            </li>
            <li class="about-partners__list-item">
                <div class="about-partners__card">
                    <img src="/images/about-partners/2.svg" alt="" class="about-partners__card-image">
                    <h3 class="about-partners__card-title">
                        Участник выставки «Forum design 2022»
                    </h3>
                </div>
            </li>
            <li class="about-partners__list-item">
                <div class="about-partners__card">
                    <img src="/images/about-partners/1.svg" alt="" class="about-partners__card-image">
                    <h3 class="about-partners__card-title">
                        Участник программы «Дачный ответ» на НТВ
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</div>