<section class="about-info js-reveal-block">
    <div class="about-info__content">
        <div class="about-info__header">
            <div class="about-info__header-text">
                Компания была основана на базе опытной столярной мастерской, которая комплектовала крупные музеи
                Республики Татарстан сложносоставной мебелью из дерева на протяжении 15 лет
            </div>
            <h2 class="about-info__header-title">
                История и признания
            </h2>
        </div>
        <div class="about-info__row">
            <div class="about-info__image-wrapper">
                <img src="/images/about-info/1.webp" alt="" class="about-info__image">
            </div>
            <div class="about-info__text-content">
                <p>
                    В 2019 году мастерская была полностью перепрофилирована под производство премиальных обеденных групп
                    с использованием сложного материала – керамики.
                </p>
                <p>
                    Нам потребовалось немало времени, чтобы научиться виртуозно работать с керамикой и правильно
                    применять ее в качестве поверхности столешниц. Небольшая мастерская быстро росла и, начиная с 2021
                    года, приобрела более промышленный характер и размеры.
                </p>
                <p>
                    Сейчас CARIN CASA — это крупнейший производитель столов с керамикой в России. Мы находимся в
                    постоянном поиске новых технологий, идей и постепенно расширяем нашу коллекцию и другими предметами
                    интерьера.
                </p>
            </div>
        </div>
    </div>
</section>