<section class="blog-detail-intro">
    <div class="blog-detail-intro__content">
        <div class="blog-detail-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            /
            <a href="#">
                Блог
            </a>
        </div>
        <h1 class="blog-detail-intro__heading">
            5 причин выбрать стол с итальянской керамикой
        </h1>
        <div class="blog-detail-intro__info">
            <div class="blog-detail-intro__info-item">
                Итальянский стиль
            </div>
            <div class="blog-detail-intro__info-item">
                15 октября 2022
            </div>
        </div>
    </div>
    <div class="blog-detail-intro__image-wrapper">
        <picture>
            <source srcset="/images/blog-detail-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/blog-detail.webp" alt="" class="blog-detail-intro__image" />
        </picture>
    </div>
</section>