<section class="blog-content">
    <div class="blog-content__content">
        <div class="blog-content__text-content">
            <div class="blog-content__large-text">
                Художественная ментальность, следовательно, просветляет суггестивный экспрессионизм. Художественная
                богема иллюстрирует резкий реконструктивный подход, таким образом, второй комплекс движущих сил получил
                разработку в трудах А.Берталанфи и Ш.Бюлера.
            </div>
            <h2>
                Художественная ментальность, следовательно, просветляет
            </h2>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер <a href="#">"психической
                    мутации"
                    трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного
                    анализа.</a>

            </p>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.

            </p>
            <a href="#">
                Отдельная ссылка
            </a>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.
            </p>
            <ul>
                <li>
                    развивая эту тему
                </li>
                <li>
                    иллюстрирует незначительный филогенез
                </li>
                <li>
                    монотонно трансформирует метод кластерного
                </li>
            </ul>
            <div class="blog-content__images">
                <img src="/images/blog-images/1.webp" alt="" class="blog-content__image">
                <img src="/images/blog-images/2.webp" alt="" class="blog-content__image">
            </div>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.

            </p>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер <a href="#">"психической
                    мутации"
                    трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного
                    анализа.</a>
            </p>
            <ol>
                <li>
                    развивая эту тему
                </li>
                <li>
                    иллюстрирует незначительный филогенез
                </li>
                <li>
                    монотонно трансформирует метод кластерного
                </li>
            </ol>
            <div class="blog-content__slider js-blog-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog-content__slider-card">
                                <img src="/images/blog-images/3.webp" alt="" class="blog-content__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-content__slider-card">
                                <img src="/images/blog-images/3.webp" alt="" class="blog-content__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-content__slider-card">
                                <img src="/images/blog-images/3.webp" alt="" class="blog-content__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="blog-content__slider-arrow blog-content__slider-arrow--prev" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M17.82,24l-.94-2.55c-1.46-3.94-4.57-7.05-8.51-8.51l-2.55-.94,2.55-.94c3.94-1.46,7.05-4.57,8.51-8.51L17.82,0c1.43,3.87-1.7,10.16-5.39,12,3.69,1.84,6.82,8.13,5.39,12Z" />
                    </svg>
                </button>
                <button class="blog-content__slider-arrow blog-content__slider-arrow--next" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M6.18,0l.94,2.55c1.46,3.94,4.57,7.05,8.51,8.51l2.55,.94-2.55,.94c-3.94,1.46-7.05,4.57-8.51,8.51l-.94,2.55c-1.43-3.87,1.7-10.16,5.39-12C7.87,10.16,4.75,3.87,6.18,0Z" />
                    </svg>
                </button>
                <div class="blog-content__slider-bullets"></div>
            </div>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.

            </p>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер <a href="#">"психической
                    мутации"
                    трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного
                    анализа.</a>
            </p>
            <a href="#" class="blog-content__btn">
                Кнопка действия
            </a>
            <h3>
                Художественная ментальность
            </h3>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.
            </p>
            <ol>
                <li>
                    развивая эту тему
                </li>
                <li>
                    иллюстрирует незначительный филогенез
                </li>
                <li>
                    монотонно трансформирует метод кластерного
                </li>
            </ol>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.
            </p>

            <div class="blog-content__images">
                <img src="/images/blog-images/4.webp" alt="" class="blog-content__image">

            </div>
            <h2>
                Художественная ментальность, следовательно, просветляет
            </h2>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер <a href="#">"психической
                    мутации"
                    трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного
                    анализа.</a>
            </p>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.
            </p>
            <div class="blog-content__blockquote">
                <div class="blog-content__blockquote-content">


                    <div class="blog-content__blockquote-text">
                        Художественная ментальность, следовательно, просветляет суггестивный экспрессионизм.
                        Художественная
                        богема иллюстрирует резкий реконструктивный подход, таким образом, второй комплекс движущих сил
                        получил
                        разработку в трудах А.Берталанфи и Ш.Бюлера.
                    </div>
                    <div class="blog-content__blockquote-author">
                        <div class="blog-content__blockquote-author-image-container">
                            <img src="/images/quote-author.webp" alt="" class="blog-content__blockquote-author-image">
                        </div>
                        <div class="blog-content__blockquote-author-content">
                            <div class="blog-content__blockquote-author-name">
                                Петров Петр Петрович
                            </div>
                            <div class="blog-content__blockquote-author-role">
                                Дизайнер студии
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-content__slider js-blog-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog-content__slider-card">
                                <img src="/images/blog-images/5.webp" alt="" class="blog-content__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-content__slider-card">
                                <img src="/images/blog-images/5.webp" alt="" class="blog-content__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-content__slider-card">
                                <img src="/images/blog-images/5.webp" alt="" class="blog-content__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="blog-content__slider-arrow blog-content__slider-arrow--prev" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M17.82,24l-.94-2.55c-1.46-3.94-4.57-7.05-8.51-8.51l-2.55-.94,2.55-.94c3.94-1.46,7.05-4.57,8.51-8.51L17.82,0c1.43,3.87-1.7,10.16-5.39,12,3.69,1.84,6.82,8.13,5.39,12Z" />
                    </svg>
                </button>
                <button class="blog-content__slider-arrow blog-content__slider-arrow--next" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M6.18,0l.94,2.55c1.46,3.94,4.57,7.05,8.51,8.51l2.55,.94-2.55,.94c-3.94,1.46-7.05,4.57-8.51,8.51l-.94,2.55c-1.43-3.87,1.7-10.16,5.39-12C7.87,10.16,4.75,3.87,6.18,0Z" />
                    </svg>
                </button>
                <div class="blog-content__slider-bullets"></div>
            </div>
            <h2>
                Художественная ментальность, следовательно, просветляет
            </h2>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер <a href="#">"психической
                    мутации"
                    трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного
                    анализа.</a>
            </p>
            <p>
                Возрождение представляет собой неизменный диахронический подход. Выразительное, по определению,
                мгновенно.
                Статус художника, как бы это ни казалось парадоксальным, просветляет флегматик. Очевидно, что
                манерничанье
                монотонно иллюстрирует незначительный филогенез. Развивая эту тему, феномер "психической мутации"
                трансформирует текст. Энтелехия, по определению, монотонно трансформирует метод кластерного анализа.

            </p>
        </div>
        <div class="blog-content__sharing">
            <h4 class="blog-content__sharing-title">
                Поделиться:
            </h4>
            <ul class="blog-content__sharing-list">
                <li class="blog-content__sharing-list-item">
                    <a href="#" class="blog-content__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="blog-content__sharing-list-item">
                    <a href="#" class="blog-content__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="blog-content__sharing-list-item">
                    <a href="#" class="blog-content__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>