<section class="blog-other-news">
    <div class="blog-other-news__content">
        <div class="blog-other-news__row">
            <h2 class="blog-other-news__heading">
                Похожие статьи
            </h2>
            <a href="#" class="blog-other-news__link">
                Перейти в блог
            </a>
        </div>
        <div class="blog-other-news__slider js-other-news-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="blog-other-news__slider-card">
                            <div class="blog-other-news__slider-card-image-container">
                                <img src="/images/blog-other-news/1.webp" alt=""
                                    class="blog-other-news__slider-card-image">
                            </div>
                            <div class="blog-other-news__slider-card-info">
                                <div class="blog-other-news__slider-card-tags">
                                    <div class="blog-other-news__slider-card-tag">
                                        Итальянский стиль
                                    </div>
                                </div>

                                <div class="blog-other-news__slider-card-info-item">
                                    26 октября 2022
                                </div>
                            </div>
                            <h3 class="blog-other-news__slider-card-title">
                                Стеллаж во всю стену: 35+ удачных идей
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="blog-other-news__slider-card">
                            <div class="blog-other-news__slider-card-image-container">
                                <img src="/images/blog-other-news/2.webp" alt=""
                                    class="blog-other-news__slider-card-image">
                            </div>
                            <div class="blog-other-news__slider-card-info">


                                <div class="blog-other-news__slider-card-tags">
                                    <div class="blog-other-news__slider-card-tag">
                                        Керамика
                                    </div>
                                </div>
                                <div class="blog-other-news__slider-card-info-item">
                                    22 октября 2022
                                </div>
                            </div>
                            <h3 class="blog-other-news__slider-card-title">
                                Скрытые возможности: двери-невидимки в интерьере
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="blog-other-news__slider-card">
                            <div class="blog-other-news__slider-card-image-container">
                                <img src="/images/blog-other-news/3.webp" alt=""
                                    class="blog-other-news__slider-card-image">
                            </div>
                            <div class="blog-other-news__slider-card-info">


                                <div class="blog-other-news__slider-card-tags">
                                    <div class="blog-other-news__slider-card-tag">
                                        Итальянский стиль
                                    </div>
                                </div>
                                <div class="blog-other-news__slider-card-info-item">
                                    15 октября 2022
                                </div>
                            </div>
                            <h3 class="blog-other-news__slider-card-title">
                                Выбираем журнальный столик: как избежать ошибок
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="blog-other-news__slider-card">
                            <div class="blog-other-news__slider-card-image-container">
                                <img src="/images/blog-other-news/4.webp" alt=""
                                    class="blog-other-news__slider-card-image">
                            </div>
                            <div class="blog-other-news__slider-card-info">


                                <div class="blog-other-news__slider-card-tags">
                                    <div class="blog-other-news__slider-card-tag">
                                        Керамика
                                    </div>
                                </div>
                                <div class="blog-other-news__slider-card-info-item">
                                    04 октября 2022
                                </div>
                            </div>
                            <h3 class="blog-other-news__slider-card-title">
                                Вопросы читателей: почему в спальне нужно использовать натуральные материалы?
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>