<section class="contacts">
    <div class="contacts__intro">
        <div class="contacts__intro-parallax">


            <div class="contacts__intro-bg">

                <picture>
                    <source srcset="/images/contacts-mobile-bg.webp" media="(max-width: 640px)" />
                    <img src="/images/contacts-video-preview.webp" alt="" class="contacts__intro-bg-image" />
                </picture>
                <video src="/video/contacts.mp4" muted="" loop="" playsinline="" preload="none"
                    class="contacts__intro-video"></video>
            </div>
            <div class="contacts__intro-content">
                <div class="contacts__intro-text-content">
                    <div class="contacts-intro__small-text">
                        carin casa
                    </div>
                    <h1 class="contacts-intro__main-heading">
                        Контакты
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts__content">
        <div class="contacts__content-inner">
            <div class="contacts__info">
                <a href="tel:+78047007071" class="contacts__phone">8 804 700 70 71</a>
                <div class="contacts__address">
                    <a href="mailto:info@carincasa.ru">info@carincasa.ru</a><br>
                    <p>
                        420011, Казань ул. Дзержинского, 6Б
                    </p>

                </div>
                <ul class="contacts__social-list">
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#pinterest"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zen"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="contacts__requisites">
                    <p>
                        ИП Пикулева Карина Ильдаровна
                    </p>
                    <p>
                        ОГРНИП 320169000078972
                    </p>


                </div>
            </div>
            <div class="contacts__image-wrapper">
                <img src="/images/contacts-image.webp" alt="" class="contacts__image">
            </div>
            <div class="contacts__write-us">
                <h2 class="contacts__write-us-heading">
                    Напишите нам
                </h2>
                <div class="contacts__write-us-text">
                    <p>
                        Пожалуйста, направьте ваш запрос по форме, представленной ниже. Мы свяжемся с вами в ближайшее
                        время.
                    </p>
                </div>
                <form action="/wp-json/contact-form-7/v1/contact-forms/97/feedback" method="POST"
                    class="contacts__form js-write-us-form">
                    <div class="contacts__form-fields">
                        <div class="contacts__form-field">
                            <label class="contacts__form-label">
                                <input type="text" class="contacts__form-input" name="your-name" placeholder="Имя"
                                    required="">
                                <span class="contacts__form-label-text">
                                    Имя
                                </span>
                            </label>
                        </div>
                        <div class="contacts__form-field">
                            <label class="contacts__form-label">
                                <input type="tel" class="contacts__form-input" name="your-phone" placeholder="Телефон"
                                    required="">
                                <span class="contacts__form-label-text">
                                    Телефон
                                </span>
                            </label>
                        </div>
                        <div class="contacts__form-field contacts__form-field--fullwidth">
                            <label class="contacts__form-label">
                                <input type="text" class="contacts__form-input" name="your-question"
                                    placeholder="Опишите свой вопрос">
                                <span class="contacts__form-label-text">
                                    Опишите свой вопрос
                                </span>
                            </label>
                        </div>
                    </div>
                    <button class="contacts__form-submit" type="submit">
                        Отправить
                    </button>
                    <div class="contacts__form-policy">
                        Нажимая кнопку «Отправить» вы соглашаетесь на обработку персональных данных
                    </div>
                </form>
            </div>
        </div>
        <div class="contacts__map">
            <div class="contacts__map-wrapper" data-scroll-amount="2.5">
                <picture>
                    <source srcset="/images/contacts-map-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/contacts-map-desktop.webp" alt="Карта" class="contacts__map-image" />
                </picture>
            </div>
            <a href="#" class="contacts__map-yandex">
                Открыть в яндекс картах
            </a>
        </div>
    </div>
</section>