<section class="design-services">
    <div class="design-services__content">
        <ul class="design-services__list">
            <li class="design-services__list-item">
                <a href="#" class="desing-services__card js-open-design-modal">
                    <div class="desing-services__card-image-container">
                        <img data-src="/images/design-services/1.webp" alt=""
                            class="desing-services__card-image lazyload">
                    </div>

                    <h3 class="desing-services__card-title">
                        Файлы
                    </h3>
                    <div class="desing-services__card-text">
                        Запросите 3D-модели, изображения и информационные бюллетени об изделиях CARIN CASA
                    </div>
                    <div class="desing-services__card-link">
                        Запросить информацию
                    </div>

                </a>
            </li>
            <li class="design-services__list-item">
                <a href="#" class="desing-services__card">
                    <div class="desing-services__card-image-container">
                        <img data-src="/images/design-services/2.webp" alt=""
                            class="desing-services__card-image lazyload">
                    </div>

                    <h3 class="desing-services__card-title">
                        Сотрудничество
                    </h3>
                    <div class="desing-services__card-text">
                        Узнайте больше о наших условиях сотрудничества с дизайнерами и студиями дизайна интерьеров
                    </div>
                    <div class="desing-services__card-link">
                        Запросить информацию
                    </div>

                </a>
            </li>
            <li class="design-services__list-item">
                <a href="#" class="desing-services__card">
                    <div class="desing-services__card-image-container">
                        <img data-src="/images/design-services/3.webp" alt=""
                            class="desing-services__card-image lazyload">
                    </div>

                    <h3 class="desing-services__card-title">
                        Кастомизация
                    </h3>
                    <div class="desing-services__card-text">
                        Откройте для себя возможности индивидуального производства CARIN CASA для ваших клиентов. Мы
                        предлагаем множество вариантов кастомизации, чтобы вы смогли адаптировать наши изделия под
                        конкретные нужды вашего проекта.
                    </div>
                    <div class="desing-services__card-link">
                        Узнать больше
                    </div>

                </a>
            </li>
            <li class="design-services__list-item">
                <a href="#" class="desing-services__card">
                    <div class="desing-services__card-image-container">
                        <img data-src="/images/design-services/4.webp" alt=""
                            class="desing-services__card-image lazyload">
                    </div>

                    <h3 class="desing-services__card-title">
                        Личный менеджер
                    </h3>
                    <div class="desing-services__card-text">
                        Cвяжитесь с нашим менеджером, если у вас возникнут вопросы или особые потребности. Запросите
                        персональные коммерческие предложения в удобном для вас формате.
                    </div>
                    <div class="desing-services__card-link">
                        Связаться с нами
                    </div>

                </a>
            </li>
        </ul>
    </div>
</section>