<section class="design-intro">
    <div class="design-intro__content">
        <div class="design-intro__left-col">
            <h1 class="design-intro__heading">
                Присоединяйтесь
                к нашему клубу
                дизайнеров
            </h1>
            <div class="design-intro__text">
                Чтобы помочь вам привнести красоту и ощущение уюта дома в ваши проекты, наша команда предлагает
                дизайн-студиям и архитекторам воспользоваться удобным набором инструментов. Мы открыты для
                сотрудничества и готовы порадовать вас специальными условиями.
            </div>
            <a href="#" class="design-intro__link js-open-design-modal">
                Оставить заявку
            </a>
        </div>
        <div class="design-intro__right-col">
            <img src="/images/design-intro.webp" alt="" class="design-intro__image">
        </div>
    </div>
</section>