<section class="text-page">
    <div class="text-page__content">
        <div class="text-page__left-col">
            <h1 class="text-page__heading">
                Часто<br>
                задаваемые<br>
                вопросы
            </h1>
        </div>
        <div class="text-page__right-col">
            <div class="text-page__accordions">
                <div class="text-page__accordion js-accordion">
                    <button class="text-page__accordion-button js-accordion-btn">
                        <span class="text-page__accordion-button-text">
                            Как рассчитать срок доставки?
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="text-page__accordion-content js-accordion-content">
                        <div class="text-page__accordion-content-inner">
                            <p>
                                В среднем, доставка до Москвы, Московской области и Санкт-Петербурга занимает около 5
                                календарных дней. В другие города России срок доставки может занимать от 7 до 14
                                календарных дней в зависимости от удаленности города. В отдаленные регионы России
                                срок доставки может быть увеличен до 21 календарного дня.
                            </p>
                            <p>
                                Доставка до г. Южно-Сахалинск, учитывая передвижение на морском виде транспорта,
                                занимает до 1.5 месяца.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-page__accordion js-accordion">
                    <button class="text-page__accordion-button js-accordion-btn">

                        <span class="text-page__accordion-button-text">
                            В каком виде приходит изделие?
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="text-page__accordion-content js-accordion-content">
                        <div class="text-page__accordion-content-inner">
                            <p>
                                В среднем, доставка до Москвы, Московской области и Санкт-Петербурга занимает около 5
                                календарных дней. В другие города России срок доставки может занимать от 7 до 14
                                календарных дней в зависимости от удаленности города. В отдаленные регионы России
                                срок доставки может быть увеличен до 21 календарного дня.
                            </p>
                            <p>
                                Доставка до г. Южно-Сахалинск, учитывая передвижение на морском виде транспорта,
                                занимает до 1.5 месяца.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-page__accordion js-accordion">
                    <button class="text-page__accordion-button js-accordion-btn">

                        <span class="text-page__accordion-button-text">
                            Сложно ли осуществить монтаж обеденного стола?
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="text-page__accordion-content js-accordion-content">
                        <div class="text-page__accordion-content-inner">
                            <p>
                                В среднем, доставка до Москвы, Московской области и Санкт-Петербурга занимает около 5
                                календарных дней. В другие города России срок доставки может занимать от 7 до 14
                                календарных дней в зависимости от удаленности города. В отдаленные регионы России
                                срок доставки может быть увеличен до 21 календарного дня.
                            </p>
                            <p>
                                Доставка до г. Южно-Сахалинск, учитывая передвижение на морском виде транспорта,
                                занимает до 1.5 месяца.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-page__accordion js-accordion">
                    <button class="text-page__accordion-button js-accordion-btn">

                        <span class="text-page__accordion-button-text">
                            А если мой груз разобьют во время транспортировки?
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="text-page__accordion-content js-accordion-content">
                        <div class="text-page__accordion-content-inner">
                            <p>
                                В среднем, доставка до Москвы, Московской области и Санкт-Петербурга занимает около 5
                                календарных дней. В другие города России срок доставки может занимать от 7 до 14
                                календарных дней в зависимости от удаленности города. В отдаленные регионы России
                                срок доставки может быть увеличен до 21 календарного дня.
                            </p>
                            <p>
                                Доставка до г. Южно-Сахалинск, учитывая передвижение на морском виде транспорта,
                                занимает до 1.5 месяца.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>