<section class="feature js-reveal-block">
    <div class="feature__content">
        <h2 class="feature__heading">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#circle"></use>
            </svg>
            Наша особенность
        </h2>
        <div class="feature__image-wrapper">
            <img src="/images/ceramics.webp" alt="" class="feature__image">
        </div>
        <h3 class="feature__secondary-heading">
            Виртуозная работа с керамикой
        </h3>
        <div class="feature__remark">
            используем более 50 видов итальянской керамики
        </div>
        <button class="feature__show-more" type="button">
            Читать полностью
        </button>

        <div class="feature__text-content">
            <p>
                Керамика — ультратонкий керамогранит, который мы используем при производстве наших изделий.
                На сегодняшний день не существует более совершенного материала для изготовления поверхности
                столешниц, чем керамика.
            </p>
            <p>
                Большинство производителей мебели в Европе уже давно используют керамику в качестве поверхности
                столешниц. В России же это направление зародилось совсем недавно. Мы гордимся, что мы одни из первых в
                России научились работать с керамикой и применять ее в cвоей работе.
            </p>
        </div>
    </div>
</section>