<section class="feature js-reveal-block">
    <div class="feature__content">
        <h2 class="feature__heading">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#circle"></use>
            </svg>
            Carin casa
        </h2>

        <h3 class="feature__secondary-heading">
            Всё начинается с любви
        </h3>
        <div class="feature__image-wrapper">
            <img src="/images/feature-2.jpg" alt="" class="feature__image">
        </div>
        <div class="feature__remark only-desktop">
            EST 2019
        </div>
        <div class="feature__text-content-wrapper">
            <div class="feature__text-content feature__text-content--two-col">
                <p>
                    В своей работе мы соединяем воедино столярное искусство со столетними традициями
                    и смелость современных материалов, таких как керамика и металл.
                </p>
                <p>
                    От классики до современности, от традиционных до самых смелых решений – мы создаем
                    для вас те изделия, которые удовлетворят именно ваши представления о прекрасном.
                </p>
            </div>
            <a href="#" class="feature__link">
                ПодробнеЕ О бренде
            </a>
        </div>
    </div>
</section>