<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <h3 class="page-footer__nav-title">
                            Carin Casa
                        </h3>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="/catalog.html" class="page-footer__nav-submenu-link">
                                    Каталог
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    О компании
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Шоурум
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="/contacts.html" class="page-footer__nav-submenu-link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <h3 class="page-footer__nav-title">
                            Дизайнерам
                        </h3>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Сотрудничество
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Материалы
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <h3 class="page-footer__nav-title">
                            Покупателям
                        </h3>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Покупателям
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Блог
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </nav>
            <div class="page-footer__subscribe">
                <div class="page-footer__subscribe-text">
                    Подпишитесь на бесплатную рассылку послезных материалов и оставайтесь в курсе всех событий
                </div>
                <form action="/" method="POST" class="page-footer__subscribe-form js-form">
                    <div class="page-footer__subscribe-form-input-wrapper">
                        <input type="email" class="page-footer__subscribe-form-input" name="your-email" required=""
                            placeholder="Email">
                        <button class="page-footer__subscribe-form-submit" type="submit">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                <span class="page-footer__copyright-text">
                    Carin Casa 2022
                </span>

                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#circle"></use>
                </svg>
                <span class="page-footer__copyright-text">
                    Все права защищены
                </span>
            </div>
            <a href="#" class="page-footer__policy">
                Политика конфиденциальности
            </a>
            <div class="page-footer__social">
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#pinterest"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zen"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            {{!-- <a href="#" class="page-footer__made-by">
                Разработано в
                <img src="/images/mark-weber.svg" alt="" class="page-footer__made-by-image" loading="lazy">
            </a> --}}
        </div>
    </div>
</footer>