<div class="form-status" id="form-status-ok">
    <div class="form-status__message">
        <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#ok"></use>
        </svg>
        Благодарим за вашу заявку. Мы рассмотрим её и свяжемся с вами в ближайшее время!
    </div>
</div>
<div class="form-status" id="form-status-error">
    <div class="form-status__message form-status__message--error">
        <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#warning"></use>
        </svg>
        Не удалось отправить заявку, пожалуйста заполните данные и отправьте еще раз.
    </div>
</div>