<section class="text-page">
    <div class="text-page__content">
        <div class="text-page__left-col">
            <h1 class="text-page__heading">
                Оплата
            </h1>
        </div>
        <div class="text-page__right-col">
            <div class="text-page__text-content">
                <p>
                    Гарантийный срок на мебель CARIN CASA составляет 12 месяцев и вступает в силу со дня передачи товара
                    покупателю.
                </p>
                <p>
                    Условия гарантии Мы несём ответственность по гарантийным обязательствам при условии соблюдения
                    клиентом Инструкции по эксплуатации и уходу, которая является неотъемлемой частью Договора.
                </p>
                <p>
                    Если гарантийный случай подтверждается, изделие будет заменено таким же или аналогичным. В случае
                    отсутствия необходимых отделок изделия, мы предложим вам схожие варианты или вернем стоимость в
                    полном размере.
                </p>
            </div>
        </div>
    </div>
</section>