<section class="has-questions">
    <div class="has-questions__content">
        <div class="has-questions__left-col">
            <div class="has-questions__image-wrapper">
                <img src="/images/has-questions.webp" alt="" class="has-questions__image">
            </div>
        </div>
        <div class="has-questions__right-col">
            <div class="has-questions__text-content">
                <h2 class="has-questions__heading">
                    Остались вопросы?
                </h2>
                <div class="has-questions__text">
                    Пожалуйста, направьте ваш запрос по форме, представленной ниже. Мы свяжемся с вами в ближайшее
                    время.
                </div>
            </div>
            <form action="/wp-json/contact-form-7/v1/contact-forms/97/feedback" method="POST"
                class="has-questions__form js-write-us-form">
                <div class="has-questions__form-fields">
                    <div class="has-questions__form-field">
                        <label class="has-questions__form-label">
                            <input type="text" class="has-questions__form-input" name="your-name" placeholder="Имя"
                                required="">
                            <span class="has-questions__form-label-text">
                                Имя
                            </span>
                        </label>
                    </div>
                    <div class="has-questions__form-field">
                        <label class="has-questions__form-label">
                            <input type="tel" class="has-questions__form-input" name="your-phone" placeholder="Телефон"
                                required="">
                            <span class="has-questions__form-label-text">
                                Телефон
                            </span>
                        </label>
                    </div>
                    <div class="has-questions__form-field has-questions__form-field--fullwidth">
                        <label class="has-questions__form-label">
                            <input type="text" class="has-questions__form-input" name="your-question"
                                placeholder="Опишите свой вопрос">
                            <span class="has-questions__form-label-text">
                                Опишите свой вопрос
                            </span>
                        </label>
                    </div>
                </div>
                <button class="has-questions__form-submit" type="submit">
                    Отправить
                </button>
                <div class="has-questions__form-policy">
                    Нажимая кнопку «Отправить» вы соглашаетесь на обработку персональных данных
                </div>
            </form>
        </div>
    </div>
</section>