<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <svg width="14" height="14" aria-hidden="true" class="page-header__logo-image">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item page-header__nav-list-item--has-submenu">
                        <a href="#" class="page-header__nav-link">
                            Каталог
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>
                        <div class="page-header__submenu">
                            <div class="page-header__submenu-inner">


                                <ul class="page-header__submenu-list">
                                    <li class="page-header__submenu-list-item">
                                        <a href="#" class="page-header__submenu-link">
                                            Все изделия
                                        </a>
                                    </li>
                                    <li class="page-header__submenu-list-item">
                                        <a href="#" class="page-header__submenu-link">
                                            Столы
                                        </a>
                                    </li>
                                    <li class="page-header__submenu-list-item">
                                        <a href="#" class="page-header__submenu-link">
                                            Консоли и зеркала
                                        </a>
                                    </li>
                                    <li class="page-header__submenu-list-item">
                                        <a href="#" class="page-header__submenu-link">
                                            Стулья
                                        </a>
                                    </li>
                                    <li class="page-header__submenu-list-item">
                                        <a href="#" class="page-header__submenu-link">
                                            Журнальные столики
                                        </a>
                                    </li>
                                    <li class="page-header__submenu-list-item">
                                        <a href="#" class="page-header__submenu-link">
                                            Комоды
                                        </a>
                                    </li>
                                </ul>
                                <div class="page-header__submenu-products">
                                    {{#times 6}}
                                        <div class="page-header__submenu-products-block">
                                            <a href="#" class="page-header__submenu-products-card js-hover-card">
                                                <div class="page-header__submenu-products-card-image-container">
                                                    <div class="page-header__submenu-products-card-parallax">
                                                        <img src="/images/products/1.webp" alt=""
                                                            class="page-header__submenu-products-card-image"
                                                            loading="lazy">
                                                    </div>
                                                </div>
                                                <div class="page-header__submenu-products-card-content">
                                                    <h3
                                                        class="page-header__submenu-products-card-title js-hover-card-content">
                                                        Стулья
                                                    </h3>
                                                </div>
                                            </a>
                                            <a href="#" class="page-header__submenu-products-card js-hover-card">
                                                <div class="page-header__submenu-products-card-image-container">
                                                    <div class="page-header__submenu-products-card-parallax">
                                                        <img src="/images/products/3.webp" alt=""
                                                            class="page-header__submenu-products-card-image"
                                                            loading="lazy">
                                                    </div>

                                                </div>
                                                <div class="page-header__submenu-products-card-content">
                                                    <h3
                                                        class="page-header__submenu-products-card-title js-hover-card-content">
                                                        Стулья
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    {{/times}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Материалы
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Мир Carin Casa
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Покупателям
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Дизайнерам
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Блог
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__contacts">

                <a href="mailto:info@carincasa.ru" class="page-header__email">info@carincasa.ru</a>
                <a href="tel:+78047007071" class="page-header__phone">8 804 700 70 71</a>
            </div>

        </div>
        <button class="page-header__burger">

        </button>
    </div>
</header>