<section class="in-development">
    <div class="in-development__intro">
        <div class="in-development__intro-content">
            <h1 class="in-development__heading">
                Страница находится
                в разработке
            </h1>
            <a href="#" class="in-development__link">
                Перейти в каталог
            </a>
        </div>
    </div>
    <div class="in-development__image-block">
        <div class="in-development__image-wrapper">
            <div class="in-development__image-parallax" data-speed="auto">
                <picture>
                    <source srcset="/images/in-development-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/in-development.webp" alt="" class="in-development__image" />
                </picture>
            </div>
        </div>
    </div>
</section>