<section class="materials-categories">
    <div class="materials-categories__intro">
        <h1 class="materials-categories__main-heading">
            Материалы и отделки
        </h1>
        <div class="materials-categories__text">
            Мы заботливо подбираем материалы, мы постоянно совершенствуем технологии производства, мы думаем наперёд,
            представляя, как каждый предмет интерьера будет смотреться в разных обстановках и сценариях освещения.
        </div>
    </div>
    <div class="materials-categories__content">
        <ul class="materials-categories__list">
            <li class="materials-categories__list-item">
                <a href="#" class="materials-categories__card js-hover-card">
                    <div class="materials-categories__card-image-container js-hover-card-image">
                        <div class="materials-categories__card-image-parallax">
                            <img data-src="/images/materials-categories/1.webp" alt=""
                                class="materials-categories__card-image lazyload">
                        </div>
                    </div>
                    <div class="materials-categories__card-content">
                        <h3 class="materials-categories__card-title js-hover-card-content">
                            Керамика
                        </h3>
                    </div>
                </a>
            </li>
            <li class="materials-categories__list-item">
                <a href="#" class="materials-categories__card js-hover-card">
                    <div class="materials-categories__card-image-container js-hover-card-image">
                        <div class="materials-categories__card-image-parallax">
                            <img data-src="/images/materials-categories/2.webp" alt=""
                                class="materials-categories__card-image lazyload">
                        </div>
                    </div>
                    <div class="materials-categories__card-content">
                        <h3 class="materials-categories__card-title js-hover-card-content">
                            Керамика
                        </h3>
                    </div>
                </a>
            </li>
            <li class="materials-categories__list-item">
                <a href="#" class="materials-categories__card js-hover-card">
                    <div class="materials-categories__card-image-container js-hover-card-image">
                        <div class="materials-categories__card-image-parallax">
                            <img data-src="/images/materials-categories/3.webp" alt=""
                                class="materials-categories__card-image lazyload">
                        </div>
                    </div>
                    <div class="materials-categories__card-content">
                        <h3 class="materials-categories__card-title js-hover-card-content">
                            Керамика
                        </h3>
                    </div>
                </a>
            </li>
            <li class="materials-categories__list-item">
                <a href="#" class="materials-categories__card js-hover-card">
                    <div class="materials-categories__card-image-container js-hover-card-image">
                        <div class="materials-categories__card-image-parallax">
                            <img data-src="/images/materials-categories/4.webp" alt=""
                                class="materials-categories__card-image lazyload">
                        </div>
                    </div>
                    <div class="materials-categories__card-content">
                        <h3 class="materials-categories__card-title js-hover-card-content">
                            Керамика
                        </h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>