<section class="text-page">
    <div class="text-page__content">
        <div class="text-page__left-col">
            <h1 class="text-page__heading">
                Оплата
            </h1>
        </div>
        <div class="text-page__right-col">
            <div class="text-page__text-content">
                <p>
                    Оплату можно совершить удобным для вас способом:
                </p>
                <ul>
                    <li>по счёту на оплату для физических и юридических лиц</li>
                    <li>
                        наличными или картой в шоуруме
                    </li>
                </ul>
                <p>
                    При безналичном расчете вы оплачиваете наш счет по реквизитам через онлайн- приложение вашего банка.
                </p>
                <p>
                    Оплату счета можно также совершить в удобном для вас банке посредством перевода денежных средств по
                    реквизитам. Аванс при заключении договора составляет 60%. Доплату в размере 40% необходимо
                    произвести перед отгрузкой изделия к вам по факту его изготовления.
                </p>
                <p>
                    Оплата доставки до адреса, а также разгрузки рассчитывается индивидуально по тарифам транспортной
                    компании и оплачивается отдельно.
                </p>
            </div>
        </div>
    </div>
</section>