<div class="product-modal js-product-modal js-material-modal-2">
    <div class="product-modal__inner">
        <div class="product-modal__layers">


            <div class="product-modal__standard-layer">


                <div class="product-modal__top-row">
                    <h3 class="product-modal__heading">
                        Заявка на изделие
                    </h3>
                    <button class="product-modal__close js-product-modal-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-modal__text">
                    <p>
                        Пожалуйста, оставьте заявку по форме, представленной ниже. Мы свяжемся с вами в ближайшее время.
                    </p>
                </div>

                <div class="product-modal__form-wrapper">
                    <form action="/" method="POST" class="product__has-questions-form">
                        <input type="hidden" class="product-modal__mat-input" name="material1">
                        <input type="hidden" class="product-modal__mat-input" name="material2">
                        <div class="product__has-questions-form-fields">
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="text" class="product__has-questions-form-input" name="your-name"
                                        placeholder="Имя" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Имя
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="tel" class="product__has-questions-form-input" name="your-phone"
                                        placeholder="Телефон" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Телефон
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field product__has-questions-form-field--fullwidth">
                                <label class="product__has-questions-form-label">
                                    <input type="text" class="product__has-questions-form-input" name="your-question"
                                        placeholder="Опишите свой вопрос">
                                    <span class="product__has-questions-form-label-text">
                                        Опишите свой вопрос
                                    </span>
                                </label>
                            </div>
                        </div>
                        <button class="product__has-questions-form-submit" type="submit">
                            Отправить
                        </button>
                        <div class="product__has-questions-form-policy">
                            Нажимая кнопку «Отправить» вы соглашаетесь на обработку персональных данных
                        </div>
                    </form>
                </div>
            </div>
            <div class="product-modal__success-layer">
                <div class="product-modal__top-row">
                    <h3 class="product-modal__heading">
                        Заявка успешно отправлена
                    </h3>
                    <button class="product-modal__close js-product-modal-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-modal__text">
                    <p>
                        Благодарим за вашу заявку. Мы рассмотрим её и свяжемся с вами в ближайшее время!
                    </p>
                </div>

                <button class="product-modal__ok-btn js-product-modal-reset-layers" type="button">
                    Отлично
                </button>
            </div>
            <div class="product-modal__error-layer">
                <div class="product-modal__top-row">
                    <h3 class="product-modal__heading">
                        Не удалось отправить заявку
                    </h3>
                    <button class="product-modal__close js-product-modal-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-modal__text">
                    <p>
                        Пожалуйста заполните данные и отправьте еще раз.
                    </p>
                </div>

                <button class="product-modal__ok-btn js-product-modal-reset-layers" type="button">
                    Отправить еще раз
                </button>
            </div>
        </div>
    </div>
</div>
<div class="product-modal js-product-modal js-model-modal-2">
    <div class="product-modal__inner">
        <div class="product-modal__layers">
            <div class="product-modal__standard-layer">
                <div class="product-modal__top-row">
                    <h3 class="product-modal__heading">
                        Запросить 3d модель
                    </h3>
                    <button class="product-modal__close js-product-modal-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-modal__text">
                    <p>
                        Пожалуйста, оставьте заявку по форме, представленной ниже. Мы свяжемся с вами в ближайшее время.
                    </p>
                </div>
                <div class="product-modal__form-wrapper">
                    <form action="/" method="POST" class="product__has-questions-form">
                        <div class="product__has-questions-form-fields">
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="text" class="product__has-questions-form-input" name="your-first-name"
                                        placeholder="Имя" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Имя
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="text" class="product__has-questions-form-input" name="your-last-name"
                                        placeholder="Фамилия" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Фамилия
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="text" class="product__has-questions-form-input" name="your-profession"
                                        placeholder="Профессия" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Профессия
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="email" class="product__has-questions-form-input" name="your-email"
                                        placeholder="Email" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Email
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field">
                                <label class="product__has-questions-form-label">
                                    <input type="tel" class="product__has-questions-form-input" name="your-phone"
                                        placeholder="Телефон" required="">
                                    <span class="product__has-questions-form-label-text">
                                        Телефон
                                    </span>
                                </label>
                            </div>
                            <div class="product__has-questions-form-field product__has-questions-form-field--fullwidth">
                                <label class="product__has-questions-form-label">
                                    <input type="text" class="product__has-questions-form-input" name="your-question"
                                        placeholder="Опишите свой вопрос">
                                    <span class="product__has-questions-form-label-text">
                                        Опишите свой вопрос
                                    </span>
                                </label>
                            </div>
                        </div>
                        <button class="product__has-questions-form-submit" type="submit">
                            Отправить
                        </button>
                        <div class="product__has-questions-form-policy">
                            Нажимая кнопку «Отправить» вы соглашаетесь на обработку персональных данных
                        </div>
                    </form>
                </div>
            </div>
            <div class="product-modal__success-layer">
                <div class="product-modal__top-row">
                    <h3 class="product-modal__heading">
                        Заявка успешно отправлена
                    </h3>
                    <button class="product-modal__close js-product-modal-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-modal__text">
                    <p>
                        Благодарим за вашу заявку. Мы рассмотрим её и свяжемся с вами в ближайшее время!
                    </p>
                </div>

                <button class="product-modal__ok-btn js-product-modal-reset-layers" type="button">
                    Отлично
                </button>
            </div>
            <div class="product-modal__error-layer">
                <div class="product-modal__top-row">
                    <h3 class="product-modal__heading">
                        Не удалось отправить заявку
                    </h3>
                    <button class="product-modal__close js-product-modal-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-modal__text">
                    <p>
                        Пожалуйста заполните данные и отправьте еще раз.
                    </p>
                </div>

                <button class="product-modal__ok-btn js-product-modal-reset-layers" type="button">
                    Отправить еще раз
                </button>
            </div>
        </div>
    </div>
</div>