<section class="text-page">
    <div class="text-page__content">
        <div class="text-page__left-col">
            <h1 class="text-page__heading">
                Возврат и обмен
            </h1>
        </div>
        <div class="text-page__right-col">
            <div class="text-page__text-content">
                <p>
                    Согласно Ст. 26.1 «О защите прав потребителей» от 07.02.1992 № 2300-1ц «Потребитель не вправе
                    отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если
                    указанный товар может быть использован исключительно приобретающим его потребителем»
                </p>
                <p>
                    Поскольку вся продукция CARIN CASA представляет собой изделия, изготовленные под индивидуальный
                    заказ – а именно:
                </p>
                <ul>
                    <li>
                        мебель с различными характеристиками товара (размеры, керамика, отделки) по запросу клиента
                    </li>
                    <li>
                        мебель в выбранной клиентом ткани
                    </li>
                </ul>
                <p>
                    Данная продукция не подлежит возврату при условии ее надлежащего качества.
                </p>
            </div>
        </div>
    </div>
</section>