<section class="reviews js-reviews">
    <div class="reviews__content">
        <h1 class="reviews__heading">
            Отзывы и фотографии
            покупателей
        </h1>
        <div class="reviews__top-row">
            <div class="reviews__col">
                <div class="reviews__text">
                    <p>
                        Основная специализация CARIN CASA – это отправкa изделий по России. Житель любого города нашей
                        страны может оформить заказ онлайн и получить изделие в транспортной компании.
                    </p>

                </div>
            </div>
            <div class="reviews__col">
                <div class="reviews__text">
                    <p>
                        И, поскольку возможность познакомиться лично с продукцией CARIN CASA пока что есть только у
                        жителей
                        города Казань в фирменном шоуруме, мы предлагаем вам ознакомиться с фотографиями и отзывами
                        наших
                        покупателей. Качество изделий CARIN CASA соответствует наивысшим требованиям, что подтверждается
                        клиентами.
                    </p>
                    <p>
                        Если вы не нашли в подборке интересующую продукцию, пожалуйста, обратитесь к менеджерам CARIN
                        CASA. Мы перешлем вам лично всю релевантную информацию.
                    </p>
                </div>
            </div>
        </div>
        <div class="reviews__categories">
            <ul class="reviews__categories-list">
                <li class="reviews__categories-list-item">
                    <a href="#" class="reviews__categories-link active">
                        Отзывы
                    </a>
                </li>
                <li class="reviews__categories-list-item">
                    <a href="#" class="reviews__categories-link">
                        Фотографии интерьеров
                    </a>
                </li>
            </ul>
        </div>
        <div class="reviews__layout">
            <div class="reviews__sidebar">
                <form action="reviews.html" method="GET" class="reviews__filters">
                    <input type="hidden" name="type" value="reviews">
                    <h4 class="reviews__filters-heading">
                        Категория изделий
                    </h4>
                    <div class="reviews__filters-select js-review-select">
                        <button class="reviews__filters-select-btn" type="button">
                            <span class="reviews__filters-select-btn-text">
                                Категория изделий
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </button>
                        <div class="reviews__filters-select-dropdown">
                            <div class="reviews__filters-select-dropdown-inner">
                                <ul class="reviews__filters-checkboxes-list">
                                    <li class="reviews__filters-checkboxes-list-item">
                                        <label class="reviews__filters-checkbox">
                                            <input type="radio" name="category" class="reviews__filters-checkbox-input"
                                                value="" checked="">
                                            <span class="reviews__filters-checkbox-mark">

                                            </span>
                                            <span class="reviews__filters-checkbox-text">
                                                Все
                                            </span>
                                        </label>
                                    </li>
                                    <li class="reviews__filters-checkboxes-list-item">
                                        <label class="reviews__filters-checkbox">
                                            <input type="radio" name="category" class="reviews__filters-checkbox-input"
                                                value="2">
                                            <span class="reviews__filters-checkbox-mark">

                                            </span>
                                            <span class="reviews__filters-checkbox-text">
                                                Столы
                                            </span>
                                        </label>
                                    </li>
                                    <li class="reviews__filters-checkboxes-list-item">
                                        <label class="reviews__filters-checkbox">
                                            <input type="radio" name="category" class="reviews__filters-checkbox-input"
                                                value="2">
                                            <span class="reviews__filters-checkbox-mark">

                                            </span>
                                            <span class="reviews__filters-checkbox-text">
                                                консоли и зеркала
                                            </span>
                                        </label>
                                    </li>
                                    <li class="reviews__filters-checkboxes-list-item">
                                        <label class="reviews__filters-checkbox">
                                            <input type="radio" name="category" class="reviews__filters-checkbox-input"
                                                value="2">
                                            <span class="reviews__filters-checkbox-mark">

                                            </span>
                                            <span class="reviews__filters-checkbox-text">
                                                Стулья
                                            </span>
                                        </label>
                                    </li>
                                    <li class="reviews__filters-checkboxes-list-item">
                                        <label class="reviews__filters-checkbox">
                                            <input type="radio" name="category" class="reviews__filters-checkbox-input"
                                                value="2">
                                            <span class="reviews__filters-checkbox-mark">

                                            </span>
                                            <span class="reviews__filters-checkbox-text">
                                                Журнальные столики
                                            </span>
                                        </label>
                                    </li>
                                    <li class="reviews__filters-checkboxes-list-item">
                                        <label class="reviews__filters-checkbox">
                                            <input type="radio" name="category" class="reviews__filters-checkbox-input"
                                                value="2">
                                            <span class="reviews__filters-checkbox-mark">

                                            </span>
                                            <span class="reviews__filters-checkbox-text">
                                                комоды
                                            </span>
                                        </label>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="reviews__main">
                <ul class="reviews__list">
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/1.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/2.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/3.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/4.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/5.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/6.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/7.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/8.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/9.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/10.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/11.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                    <li class="reviews__list-item">
                        <a href="#" class="reviews__card">
                            <img src="/images/reviews/12.webp" alt="" class="reviews__card-image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="reviews__show-more js-reviews-show-more">
            Показать еще
        </a>
    </div>
</section>


<section class="more-photo">
    <div class="more-photo__content">
        <h2 class="more-photo__heading">
            больше фотографий в instagram
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#inst"></use>
            </svg>
        </h2>
        <a href="#" class="more-photo__link">
            carincasa.ru
        </a>
    </div>
    <div class="more-photo__image-wrapper">
        <picture>
            <source srcset="/images/more-photo-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/more-photo.webp" alt="" class="more-photo__image" />
        </picture>
    </div>
</section>