<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__content-inner">
            <div class="contacts__large-text">
                Мы всегда рады гостям в нашем шоуруме. Расположенный в сердце города Казань, шоурум находится в красивом
                современном особняке возле казанского Кремля
            </div>
        </div>
        <div class="contacts__map">
            <div class="contacts__map-wrapper" data-scroll-amount="2.5">
                <picture>
                    <source srcset="/images/contacts-map-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/contacts-map-desktop.webp" alt="Карта" class="contacts__map-image" />
                </picture>
            </div>
            <a href="#" class="contacts__map-yandex">
                Открыть в яндекс картах
            </a>
        </div>
    </div>
</section>