<section class="standard-header">
    <div class="standard-header__parallax">
        <div class="standard-header__bg">
            <picture>
                <source srcset="/images/showroom-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/showroom-bg.webp" alt="" class="standard-header__bg-image" />
            </picture>
        </div>
        <div class="standard-header__content">
            <div class="standard-header__text-content">
                <div class="standard-header__small-text">
                    Мир Carin Casa
                </div>
                <h1 class="standard-header__main-heading">
                    Шоурум
                </h1>
            </div>
        </div>
    </div>
</section>