<section class="showroom-intro">
    <div class="showroom-intro__content">
        <div class="showroom-intro__large-text">
            Мы предлагаем изделия, достойные шоурумов Италии. Только предлагаем их прямо здесь — в Казани. С Carin Casa
            вы можете не выбирать между европейским качеством и скоростью изготовления, а получить всё и сразу. Без
            долгого ожидания, без волнений, связанных с доставкой.
        </div>
        <div class="showroom-intro__small-text">
            Именно поэтому к нам приезжают клиенты из Москвы и других городов России — познакомиться с нашей продукцией,
            выбрать идеальное дополнение к интерьеру из наличия и просто насладиться приятной атмосферой нашего бутика.
        </div>
    </div>
</section>