<section class="text-page">
    <div class="text-page__content">
        <div class="text-page__left-col">
            <h1 class="text-page__heading">
                Сроки
            </h1>
        </div>
        <div class="text-page__right-col">
            <div class="text-page__text-content">
                <h2>
                    Изготовление
                </h2>
                <p>
                    Стандартный срок изготовления составляет 35-45 календарных дней. В случае срочного заказа сроки
                    изготовления обсуждаются индивидуально.
                </p>
                <p>
                    При индивидуальном исполнении заказа (новое изделие, нестандартный размер) конкретные сроки
                    изготовления уточняйте у вашего менеджера CARIN CASA.
                </p>
                <h2>
                    Доставка
                </h2>
                <p>
                    Мы доставляем по всей России проверенными транспортными компаниями. 24/7 мы можем отследить, где
                    находится ваш груз, и когда он достигнет пункта назначения. Доставка производится до вашего адреса
                    (без разгрузки и подъема на этаж). Если вам нужна помощь с разгрузкой и подъемом изделия на этаж,
                    вы можете заранее оставить заявку менеджеру транспортной компании.
                </p>
                <p>
                    Если осуществляется доставка по г. Москва и Московской области, вы можете оставить заявку на
                    разгрузку и сборку изделий вашему менеджеру CARIN CASA. Доставка и сборка по г. Казань
                    осуществляется бесплатно нашей транспортной службой.
                </p>
            </div>
        </div>
    </div>
</section>