<section class="why-us">
    <div class="why-us__content">
        <div class="why-us__image-wrapper">
            <picture>
                <source data-srcset="/images/why-us-mobile.webp" media="(max-width: 640px)" />
                <img data-src="/images/why-us.webp" alt="Карта" class="why-us__image lazyload" />
            </picture>
        </div>
        <div class="why-us__text-content">
            <h2 class="why-us__heading">
                Почему мы?
            </h2>
            <div class="why-us__accordions">
                <div class="why-us__accordion js-accordion">
                    <button class="why-us__accordion-button js-accordion-btn">

                        <span class="why-us__accordion-button-text">
                            Высочайшее качество
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="why-us__accordion-content js-accordion-content">
                        <div class="why-us__accordion-content-inner">
                            <p>
                                В изделиях Carin Casa мы придерживаемся самых строгих стандартов качества. Центральный
                                принцип нашей работы – то, к чему мы стремились с самого начала – производство
                                совершенных изделий.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="why-us__accordion js-accordion">
                    <button class="why-us__accordion-button js-accordion-btn">

                        <span class="why-us__accordion-button-text">
                            Богатый выбор отделок и материалов
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="why-us__accordion-content js-accordion-content">
                        <div class="why-us__accordion-content-inner">
                            <p>
                                В изделиях Carin Casa мы придерживаемся самых строгих стандартов качества. Центральный
                                принцип нашей работы – то, к чему мы стремились с самого начала – производство
                                совершенных изделий.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="why-us__accordion js-accordion">
                    <button class="why-us__accordion-button js-accordion-btn">

                        <span class="why-us__accordion-button-text">
                            Короткие сроки изготовления
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="why-us__accordion-content js-accordion-content">
                        <div class="why-us__accordion-content-inner">
                            <p>
                                В изделиях Carin Casa мы придерживаемся самых строгих стандартов качества. Центральный
                                принцип нашей работы – то, к чему мы стремились с самого начала – производство
                                совершенных изделий.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="why-us__accordion js-accordion">
                    <button class="why-us__accordion-button js-accordion-btn">

                        <span class="why-us__accordion-button-text">
                            Доставка по всей России
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="why-us__accordion-content js-accordion-content">
                        <div class="why-us__accordion-content-inner">
                            <p>
                                В изделиях Carin Casa мы придерживаемся самых строгих стандартов качества. Центральный
                                принцип нашей работы – то, к чему мы стремились с самого начала – производство
                                совершенных изделий.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="why-us__accordion js-accordion">
                    <button class="why-us__accordion-button js-accordion-btn">

                        <span class="why-us__accordion-button-text">
                            Кастомизация
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="why-us__accordion-content js-accordion-content">
                        <div class="why-us__accordion-content-inner">
                            <p>
                                В изделиях Carin Casa мы придерживаемся самых строгих стандартов качества. Центральный
                                принцип нашей работы – то, к чему мы стремились с самого начала – производство
                                совершенных изделий.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="why-us__link js-open-design-modal">
                Оставить заявку
            </a>
        </div>
    </div>
</section>