.about-geography {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [side-start] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [content-start] minmax(0, var(--container-width, 0)) [content-end] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [side-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 12rem;

  @media (--mobile) {
    margin-bottom: 5.6rem;
  }
}

.about-geography__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
}

.about-geography__heading {
  font-style: normal;
  font-weight: 200;
  font-size: 4.8rem;
  line-height: 125%;
  text-align: center;
  position: relative;
  z-index: 30;

  @media (--mobile) {
    font-style: normal;
    font-weight: 200;
    font-size: 2rem;
    line-height: 125%;
  }
}

.about-geography__map-wrapper {
  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-gap: 0.8rem;
  }
}

.about-geography__map-image-wrapper {
  mask-image: url("../images/map-mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  @media (--desktop) {
    grid-column: 3 / 23;
  }
}

.about-geography__map-image {
  display: block;
  width: 100%;
  height: auto;
}

@media (--desktop) {
  .about-geography.js-reveal-block {
    & .about-geography__map-image-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    & .about-geography__heading {
      opacity: 0;
      visibility: hidden;
    }
  }

  .about-geography.js-reveal-block.revealed {
    & .about-geography__map-image-wrapper {
      animation-name: clip-fade-in;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
      animation-timing-function: ease-out;
    }
    & .about-geography__heading {
      animation-name: fade-in;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
      animation-timing-function: ease-out;
    }
  }
}
