.blog-other-news {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [side-start] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [content-start] minmax(0, var(--container-width, 0)) [content-end] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [side-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);

  margin-bottom: 10rem;

  @media (--mobile) {
    margin-bottom: 5.6rem;

    overflow: hidden;
  }
}

.blog-other-news__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d3d1cd;
  border-top: 1px solid #d3d1cd;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @media (--mobile) {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
}

.blog-other-news__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 10rem;

  @media (--mobile) {
    display: contents;
  }
}

.blog-other-news__heading {
  font-style: normal;
  font-weight: 200;
  font-size: 7.2rem;
  line-height: 110%;
  text-transform: uppercase;

  @media (--mobile) {
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 3rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }
}

.blog-other-news__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 2.2rem 9.5rem;
  border: 1px solid #232323;
  transition: color 0.2s, background-color 0.2s;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    order: 10;
    margin-top: 4rem;
    width: 100%;
  }
  @media (hover: hover) {
    &:hover {
      background-color: #232323;
      color: var(--white);
    }
  }
}

.blog-other-news__slider {
  @media (--desktop) {
    & .swiper {
      margin: 0;
      overflow: visible;
    }

    & .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 4.8rem;
    }

    & .swiper-slide {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }

  @media (--mobile) {
    & .swiper {
      overflow: visible;
      margin: 0;
    }

    & .swiper-slide {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      margin: 0 2.4rem;
      width: 25rem;
      flex-shrink: 0;
    }
  }
}

.blog-other-news__slider-card {
  display: flex;
  flex-direction: column;

  @media (hover: hover) {
    &:hover {
      & .blog-other-news__slider-card-image {
        transform: scale(1.04);
      }
    }
  }
}

.blog-other-news__slider-card-image-container {
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;

  @media (--mobile) {
    margin-bottom: 2.4rem;
    order: -30;
  }
  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.blog-other-news__slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.blog-other-news__slider-card-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.2rem;
  row-gap: 1.6rem;
  margin-bottom: 2.4rem;

  @media (--mobile) {
    display: contents;
  }
}

.blog-other-news__slider-card-info-item {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #a9a7a4;

  @media (--mobile) {
    order: 25;
  }
}

.blog-other-news__slider-card-tags {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  row-gap: 1.6rem;
  flex-wrap: wrap;

  @media (--mobile) {
    order: -10;
    margin-bottom: 1.2rem;
  }
}

.blog-other-news__slider-card-tag {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #a9a7a4;
}

.blog-other-news__slider-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 145%;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    line-height: 145%;
  }
}
