.has-questions {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [side-start] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [content-start] minmax(0, var(--container-width, 0)) [content-end] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [side-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 14rem;

  @media (--mobile) {
    margin-bottom: 6rem;
  }
}

.has-questions__content {
  grid-column-start: content-start;
  grid-column-end: content-end;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.8rem;

  @media (--mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0.4rem;

    grid-column-start: side-start;
    grid-column-end: side-end;
  }
}

.has-questions__left-col {
  display: flex;
  flex-direction: column;

  @media (--mobile) {
    order: 10;
  }
}

.has-questions__image-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%;

    @media (--mobile) {
      padding-bottom: 83%;
    }
  }
}

.has-questions__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.has-questions__right-col {
  display: flex;
  flex-direction: column;
  background: #faf6f1;
  padding: 10rem;
  gap: 9rem;

  @media (--mobile) {
    padding: 5.6rem 1.2rem;
    gap: 2.4rem;
  }
}

.has-questions__text-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media (--mobile) {
    gap: 1.6rem;
  }
}

.has-questions__heading {
  font-style: normal;
  font-weight: 200;
  font-size: 4rem;
  line-height: 100%;
  text-transform: uppercase;

  @media (--mobile) {
    font-style: normal;

    font-size: 2.4rem;
    line-height: 100%;
  }
}

.has-questions__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 145%;
  color: #a9a7a4;
  max-width: 52rem;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 145%;
  }
}

.has-questions__form {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media (--mobile) {
    gap: 3.2rem;
  }
}

.has-questions__form-fields {
  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3.2rem;
  }

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
}

.has-questions__form-field--fullwidth {
  grid-column: 1 / -1;
}

.has-questions__form-label {
  display: block;
  position: relative;
  cursor: default;
}

.has-questions__form-input {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--text-color);
  border-bottom: 1px solid #232323;
  transition: border-color 0.2s, color 0.2s;
  height: 3rem;
  &::placeholder {
    opacity: 0;
  }

  &.not-valid {
    border-color: var(--red);
    color: var(--red);
  }

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    line-height: 100%;
  }
}

.has-questions__form-label-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #a9a7a4;
  position: absolute;
  left: 0;
  top: 0.82rem;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 0.3s, color 0.2s;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    line-height: 100%;
  }
}

.has-questions__form-input.not-valid ~ .has-questions__form-label-text {
  color: var(--red);
}

.has-questions__form-input[required] ~ .has-questions__form-label-text {
  &::after {
    content: "*";
  }
}

.has-questions__form-input:not(:placeholder-shown)
  ~ .has-questions__form-label-text,
.has-questions__form-input:focus ~ .has-questions__form-label-text {
  transform: translateY(-2rem) scale(0.9);
}

.has-questions__form-submit {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  background: #232323;
  color: var(--white);
  padding: 2.2rem 10.4rem;
  align-self: flex-start;
  transition: background-color 0.2s, color 0.2s;

  &[disabled] {
    background-color: #d3d1cd;
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      background-color: #393938;
    }
  }
  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    padding: 2.2rem 3.5rem;
    margin-top: 1.6rem;
    width: 100%;
  }
}

.has-questions__form-policy {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 145%;
  letter-spacing: 0.05em;
  max-width: 34rem;
  color: #a9a7a4;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 145%;
    max-width: none;
  }
}
