.products {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [side-start] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [content-start] minmax(0, var(--container-width, 0)) [content-end] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [side-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 18rem;

  @media (--mobile) {
    margin-bottom: 8.8rem;
  }
}

.products__content {
  grid-column-start: side-start;
  grid-column-end: side-end;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 0.8rem;

  @media (--mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0.4rem;
  }
}

.products__list-item {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    grid-column: span 2;

    &:nth-child(5n + 1) {
      grid-column: span 3;
    }
    &:nth-child(5n + 2) {
      grid-column: span 3;
    }
  }
}

.products__card {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  user-select: none;

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (--desktop) {
    @media (hover: hover) {
      &:hover {
        & .products__card-image-container {
          clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - var(--content-height, 0)),
            0 calc(100% - var(--content-height, 0))
          );
        }

        & .products__card-image {
          transform: scale(1.04);
          transition: transform 0.4s ease-out;
        }
      }
    }

    @media (hover: none) {
      & .products__card-image-container {
        clip-path: polygon(
          0 0,
          100% 0,
          100% calc(100% - var(--content-height, 0)),
          0 calc(100% - var(--content-height, 0))
        );
      }
    }
  }

  @media (--mobile) {
    &::before {
      padding-bottom: 74%;
    }

    /* &.hovered {
      & .products__card-image-container {
        clip-path: polygon(
          0 0,
          100% 0,
          100% calc(100% - var(--content-height, 0)),
          0 calc(100% - var(--content-height, 0))
        );
      }
    } */
  }
}

.products__card-image-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  backface-visibility: hidden;

  @media (--desktop) {
    transition: clip-path 0.4s;
  }
}

.products__card-image-parallax {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (--desktop) {
  .products__list-item:nth-child(5n + 1) .products__card-image-parallax {
    position: absolute;
    top: 0;
    width: 120%;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
  }
  .products__list-item:nth-child(5n + 2) .products__card-image-parallax {
    position: absolute;
    bottom: 0;
    width: 120%;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.products__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  transition: transform 0.4s;
}

.products__card-content {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.products__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  padding: 2.5rem;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    padding: 1.6rem;
  }
}
