.text-page {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [side-start] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [content-start] minmax(0, var(--container-width, 0)) [content-end] calc(
      var(--side-padding, 0) - var(--content-padding, 0)
    )
    [side-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 10rem;
  padding-top: 20rem;

  @media (--mobile) {
    margin-bottom: 7.5rem;
    padding-top: 10rem;
  }
}

.text-page__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-gap: 0.8rem;
  }

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
}

.text-page__left-col {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    grid-column: 1 / 13;
  }
}

.text-page__right-col {
  display: flex;
  flex-direction: column;
  @media (--desktop) {
    grid-column: 13 / -1;
    border-left: 0.3px solid #d3d1cd;
  }
}
.text-page__heading {
  font-style: normal;
  font-weight: 200;
  font-size: 7.2rem;
  line-height: 110%;
  text-transform: uppercase;

  @media (--mobile) {
    font-style: normal;
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 120%;
  }
}

.text-page__text-content {
  padding-left: 3.4rem;
  max-width: 59rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 145%;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 145%;
    padding: 0;
    max-width: none;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: 8rem;
    font-style: normal;
    font-weight: 200;
    font-size: 2.4rem;
    line-height: 100%;
    text-transform: uppercase;
    @media (--mobile) {
      font-style: normal;
      font-weight: 200;
      font-size: 2rem;
      line-height: 100%;
      text-transform: uppercase;
      margin-top: 4rem;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & p {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }

    & li {
      padding-left: 2.4rem;
      position: relative;

      @media (--mobile) {
        padding-left: 2rem;
      }
      &::before {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
        left: 0.8rem;
        top: 0.85rem;

        @media (--mobile) {
          width: 0.4rem;
          height: 0.4rem;
          top: 0.82rem;
        }
      }
    }
  }
}
